In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [27]:
# import csv file 
df = pd.read_csv('online.csv')
df.shape

(50, 5)

In [28]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [29]:
x = df.drop(['Profit'],axis=1)
# x
y = df['Profit']
# y

In [30]:
city = pd.get_dummies(x['Area'],drop_first=True)
# city

In [31]:
x = x.drop('Area',axis=1) # jeheto area er value gula numerically convert korci so ei ketre ,area col ta , data set theke drop korte hobe

In [32]:
x = pd.concat([x,city],axis=1)
x

    Marketing Spend  Administration  Transport  Dhaka  Rangpur
0         114523.61       136897.80  471784.10      1        0
1         162597.70       151377.59  443898.53      0        0
2         153441.51       101145.55  407934.54      0        1
3         144372.41       118671.85  383199.62      1        0
4         142107.34        91391.77  366168.42      0        1
5         131876.90        99814.71  362861.36      1        0
6         134615.46       147198.87  127716.82      0        0
7         130298.13       145530.06  323876.68      0        1
8         120542.52       148718.95  311613.29      1        0
9         123334.88       108679.17  304981.62      0        0
10        101913.08       110594.11  229160.95      0        1
11        100671.96        91790.61  249744.55      0        0
12         93863.75       127320.38  249839.44      0        1
13         91992.39       135495.07  252664.93      0        0
14        119943.24       156547.42  256512.92      0        1
15        165349.20       122616.84  261776.23      1        0
16         78013.11       121597.55  264346.06      0        0
17         94657.16       145077.58  282574.31      1        0
18         91749.16       114175.79  294919.57      0        1
19         86419.70       153514.11       0.00      1        0
20         76253.86       113867.30  298664.47      0        0
21         78389.47       153773.43  299737.29      1        0
22         73994.56       122782.75  303319.26      0        1
23         67532.53       105751.03  304768.73      0        1
24         77044.01        99281.34  140574.81      1        0
25         64664.71       139553.16  137962.62      0        0
26         75328.87       144135.98  134050.07      0        1
27         72107.60       127864.55  353183.81      1        0
28         66051.52       182645.56  118148.20      0        1
29         65605.48       153032.06  107138.38      1        0
30         61994.48       115641.28   91131.24      0        1
31         61136.38       152701.92   88218.23      1        0
32         63408.86       129219.61   46085.25      0        0
33         55493.95       103057.49  214634.81      0        1
34         46426.07       157693.92  210797.67      0        0
35         46014.02        85047.44  205517.64      1        0
36         28663.76       127056.21  201126.82      0        1
37         44069.95        51283.14  197029.42      0        0
38         20229.59        65947.93  185265.10      1        0
39         38558.51        82982.09  174999.30      0        0
40         28754.33       118546.05  172795.67      0        0
41         27892.92        84710.77  164470.71      0        1
42         23640.93        96189.63  148001.11      0        0
43         15505.73       127382.30   35534.17      1        0
44         22177.74       154806.14   28334.72      0        0
45          1000.23       124153.04    1903.93      1        0
46          1315.46       115816.21  297114.46      0        1
47             0.00       135426.92       0.00      0        0
48           542.05        51743.15       0.00      1        0
49             0.00       116983.80   45173.06      0        0

In [33]:
xtrain , xtest,ytrain,ytest = train_test_split(x,y,test_size=0.25)

In [35]:
ytest

36     90708.19
16    126992.93
35     96479.51
6     156122.51
4     166187.94
23    108733.99
7     155752.60
5     156991.12
12    141585.52
17    125370.37
46     49490.75
14    132602.65
13    134307.35
Name: Profit, dtype: float64

In [34]:
reg = LinearRegression()
reg.fit(xtrain,ytrain)
reg.predict(xtest)

array([ 84074.65615064, 118050.9721676 ,  92864.34591454, 143989.51767602,
       169460.7262592 , 116928.73606797, 161338.34783498, 162797.35177   ,
       130321.77153635, 134465.60142952,  74239.49843263, 149411.11102681,
       126839.84822206])

# R2 value for check the accuracy

In [37]:
print("Accuracy = ",reg.score(xtest,ytest)*100)

Accuracy =  87.78253699424252

In [40]:
from sklearn.metrics import r2_score #using library function
score = r2_score(ytest,reg.predict(xtest))
score

0.8778253699424252